appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
build==1.0.3
clyent==1.2.2
cmdstanpy==1.2.0
conda-repo-cli==1.0.75
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
et-xmlfile==1.1.0
fonttools==4.25.0
holidays==0.40
importlib-resources==6.1.1
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
pip-tools==7.3.0
ply==3.11
prophet==1.1.5
pyarrow==11.0.0
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyproject_hooks==1.0.0
PyQt5-sip==12.11.0
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
stanio==0.3.0
webencodings==0.5.1

